<div class="ad">
  <img class="img-thumbnail" title="Refurbished: HP Compaq Desktop Computer (A Grade) Pro 6300 Intel Core i5 3rd Gen 3470 (3.20 GHz) 4 GB 250 GB HDD Windows 7 ..." alt="Refurbished: HP Compaq Desktop Computer (A Grade) Pro 6300 Intel Core i5 3rd Gen 3470 (3.20 GHz) 4 GB 250 GB HDD Windows 7 ..." src="http://images10.newegg.com/NeweggImage/ProductImageCompressAll300/83-285-577-01.jpg?t=1203190">
  <a href="http://www.newegg.com/Special/ShellShocker.aspx?cm_sp=Homepage_SS-_-P4_83-285-577-_-12032016&amp;Index=4" class="item-title">Shell Shocker!</a>
</div>

