<div *ngIf="attendees">
  <select name="selectAttendee" [(ngModel)]="selectedMeetingAttendee" >
    <option *ngFor="let attendee of this.attendees | async"
      [ngValue]="attendee">
      {{ attendee.role }}
    </option>
  </select>
  <img src="../../assets/images/green-plus-24.png" alt="green-plus"
       (click)="onAttendeeAdd()" >
  <img src="../../assets/images/blue-minus-24.png" alt="blue-minus"
       (click)="onAttendeeSubtract()" >
</div>
<div *ngIf="testAttendees && meetingAttendees">
  <li *ngFor="let test of testAttendees">
    <span> {{ test["attendee"]["role"] }} - {{ test["quantity"] }} </span>
    <img src="../../assets/images/green-plus-24.png" alt="green-plus"
         (click)="onMeetingAttendeeAdd(test)" >
    <img src="../../assets/images/blue-minus-24.png" alt="blue-minus"
         (click)="onMeetingAttendeeSubtract(test)" >
    <img src="../../assets/images/red-x.png" alt="red-x"
         (click)="onMeetingAttendeeDelete(test)" >
  </li>
</div>
