<div>
  <label>{{ meterValue }}</label>
</div>
<div>
  <button (click)="onStartClick()">Start</button>
</div>
<div>
  <button (click)="onStopClick()">Stop</button>
</div>

<div>
  <button (click)="onAddAttendeeClick(
  newAttendeeRole.value,
  newAttendeeSalary.value,
  newAttendeeCount.value)">
    Add Attendee
  </button>
  <label>Role: </label><input #newAttendeeRole/>
  <label>Salary: </label><input #newAttendeeSalary/>
  <label>Count: </label><input #newAttendeeCount/>
</div>

<!--TODO set up Attendee List-->
<!--<app-attendee-list></app-attendee-list>-->
<!--<div>-->
  <!--<li *ngFor="let attendee of attendees">-->
    <!--<span>-->
      <!--<b>{{ attendee.role }} - {{ attendee.salary }}</b>-->
    <!--</span>-->
  <!--</li>-->
<!--</div>-->
