<div>
  <label>{{ meterValue | currency : 'USD':true:'1.2-2' }}</label>
  <button (click)="onStartClick()">Start</button>
  <button (click)="onStopClick()">Stop</button>
</div>

<!--<div>-->
  <!--<button (click)="onAddAttendeeClick(-->
  <!--newAttendeeRole.value,-->
  <!--newAttendeeSalary.value,-->
  <!--newAttendeeCount.value)">-->
    <!--Add Attendee-->
  <!--</button><br>-->
  <!--<label>Role: </label><input #newAttendeeRole/><br>-->
  <!--<label>Salary: </label><input #newAttendeeSalary/><br>-->
  <!--<label>Count: </label><input #newAttendeeCount/><br>-->
<!--</div>-->

<!--TODO set up Attendee List-->
<!--<app-attendee-list></app-attendee-list>-->
<!--<div>-->
  <!--<li *ngFor="let attendee of attendees">-->
    <!--<span>-->
      <!--<b>{{ attendee.role }} - {{ attendee.salary }}</b>-->
    <!--</span>-->
  <!--</li>-->
<!--</div>-->
