<div *ngIf="attendee">
  <p>Modify Attendee:</p>
  <form [formGroup]="attendeeForm"
        (ngSubmit)="onSubmit(attendeeForm.value)">
    <div>
      <label for="roleInput">Role</label>
      <input type="text"
             id="roleInput"
             placeholder="Role"
             [formControl]="attendeeForm.controls['role']"
             [(ngModel)]="attendee.role">
      <br>
      <label for="salaryInput">Salary</label>
      <input type="number"
             id="salaryInput"
             placeholder="Salary"
             [formControl]="attendeeForm.controls['salary']"
             [ngModel]="attendee.salary">
      <br>
      <button type="submit">Save</button>
      <button type="button" (click)="onCancelClick()">Cancel</button>
    </div>
  </form>
</div>
