<div *ngIf="attendee">
  <p>Modify Attendee:</p>
  <form [formGroup]="attendeeForm"
        (submit)="onSubmit(attendeeForm.value)">
    <div>
      <label for="roleInput">Role</label>
      <input type="text"
             id="roleInput"
             placeholder="Role"
             [formControl]="attendeeForm.controls['attendeeRole']"
             [(ngModel)]="attendee.role">
      <br>
      <label for="salaryInput">Salary</label>
      <input type="text"
             id="salaryInput"
             placeholder="Salary"
             [formControl]="attendeeForm.controls['attendeeSalary']"
             [(ngModel)]="attendee.salary">
      <br>
      <!--<button type="submit">Submit</button>-->
    </div>
  </form>
</div>
