<form (submit)="onSaved()">
<div *ngIf="attendees">
  <li *ngFor="let attendee of this.attendees | async">
      <span (click)="onAttendeeSelected(attendee)">
        <b>{{ attendee.role }} - {{ attendee.salary|currency:'USD':true }}</b>
      </span>
    <img src="../../assets/images/red-x.png" alt="Red X" (click)="onAttendeeDelete(attendee)" >
  </li>
  <button type="button" (click)="onAttendeeAdd()">Add</button>
</div>
  <div *ngIf="selectedAttendee">
    <app-attendee-detail
      (attendeeChanged)="onAttendeeChanged($event)"
      [attendee]="selectedAttendee">
    </app-attendee-detail>
    <button (click)="onSaveClicked()">Save</button>
    <button (click)="onCloseClicked()">Close</button>
  </div>
</form>
